<!-- Home/login page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Daily Holidays</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <h1>Daily Holidays Page</h1>
    <div>
        <form action="http://localhost:<%- portNumber %>/login-page" method="post">
            <h2>Provide your email to proceed to the login page</h2>
            <fieldset>
                <label><strong>Email</strong><input type="emailCheck" name="email" /></label>
                <br />
            </fieldset>

            <br />
            <input type="reset" />
            <input type="submit" value="Verify Email"/>
            <br>
            <a href="/registration">Create Account</a>

        </form>
    </div>

</body>

</html>