<!-- Home/login page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Daily Holidays Login Page</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Gowun+Batang&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


        * {
            /* remove default margins and paddings on tags */
            margin: 0;
            padding: 0;
            /* includes margins and paddings in an element's width and height calculation */
            box-sizing: border-box;
            /* uses the Montserrat font */
            font-family: "Montserrat", sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            /* background: #dfdfdf; */
            background: url("https://i.ibb.co/DMz4GSP/light-background-wallpaper-1920x1080.jpg");
            background-size: cover;
            /* background-image: url("DailyHolidays/light_background-wallpaper-1920x1080.jpg"); */
        }

        .loginBox {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 470px;
            height: 480px;
            padding: 30px;
            border-width: 3px;
            border-color: rgba(255, 255, 255, 0);
            border-style: solid;
            border-radius: 10px;
            background-color: rgb(237, 246, 247);
        }

        .submitLogin .submitButton{
            display: flex;
            justify-content: center;
        }

        .createAccount{
            display: flex;
            justify-content: flex-end;
        }

        .loginHeader {
            color: #57595b;
            font-size: 30px;
            font-weight: 400;
            text-align: center;
        }

        .inputBox .inputField {
            width: 100%;
            height: 60px;
            font-size: 17px;
            padding: 0 25px;
            margin-bottom: 15px;
            border-radius: 30px;
            border: none;
            box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
            transition: .3s;
        }

        ::placeholder {
            font-weight: 500;
            color: #222;
        }

        .submitLogin .submitButton{
            width: 20%;
            height: 30px;
            margin-top: 8px;
            margin-bottom: 8px;
            border-style: solid;
            border-color: black;
            justify-content: center;
            color:#222;
        }
    </style>
</head>

<body>
    <div class="loginBox">
        <div class="loginHeader">
            <h2>Login</h2>
            <br>
        </div class="">
        <form id="form" action="/home-page" method="post">
            <div class="inputBox">
                <input class="inputField" name="email" type="email" placeholder="example@gmail.com" required>
            </div>
            <div class="inputBox">
                <input class="inputField" type="password" name="password" placeholder="Enter Password" required />

            </div>
            <div id="loginStatusDiv">
                <%- loginStatus %>
            </div>
            <div class="submitLogin">
                <button class="submitButton" id="submit"></button>
                <label for="submit">Log In</label>
            </div>
            <br>
            <div class="createAccount">
                <p>Create Account <a href="/registration">here</a></p>
            </div>

            <!-- <br />
            <input type="reset" />
            <input type="submit" value="Login" />
            <br>
            <a href="/registration">Create Account</a> -->

        </form>
    </div>


</body>

</html>