<!-- Home/login page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Daily Holidays Login Page</title>
    <link rel="stylesheet" href="/DailyHolidays/style.css">
    <style>
        body {
            background-color: yellow; /* Just a test */
        }
    </style>
</head>

<body>
    <div class="loginBox">
        <div class="loginHeader">
            <h1>Daily Holidays Login Page</h1>
        </div>
        <form id="form" action="/home-page" method="post">
            <div class="inputBox">
                <input class="inputField" name="email" type="email" placeholder="example@gmail.com" required>
            </div>
            <div class="inputBox">
                <input class="inputField" type="password" name="password" placeholder="Enter Password" required />

            </div>
            <div id="loginStatusDiv">
                <%- loginStatus %>
            </div>
            <div class="submitLogin">
                <button class="submitButton" id="submit"></button>
                <label for="submit">Log In</label>
            </div>
            <div class="createAccount">
                <p>Create Account <a href="/registration">here</a></p>
            </div>

            <!-- <br />
            <input type="reset" />
            <input type="submit" value="Login" />
            <br>
            <a href="/registration">Create Account</a> -->

        </form>
    </div>


</body>

</html>