<!-- Home/login page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Daily Holidays Home Page</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Gowun+Batang&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Montserrat", sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: url("https://i.ibb.co/DMz4GSP/light-background-wallpaper-1920x1080.jpg");
            background-size: cover;
        }

        .homeBox {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 700px;
            min-height: 480px;
            max-height: 530px;
            padding: 30px;
            border-style: solid;
            border-width: 3px;
            border-color: rgba(255, 255, 255, 0);
            border-radius: 10px;
            background-color: rgb(237, 246, 247);
        }


        .homeHeader {
            color: #57595b;
            font-size: 30px;
            font-weight: 400;
            text-align: center;
        }

        .boxContent {
            display: flex;
            /* justify-content: center; */
            justify-content: center;
            /* border-style: solid;
            border-width: 3px; 
            border-color: blue; */
            flex-wrap: wrap;
        }

        .boxContent #country {
            width: 250px;
            height: 60px;
            font-size: 17px;
            /* padding: 0 25px; */
            margin-top: 7px;
            margin-bottom: 7px;
            border-radius: 30px;
            box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
            transition: .3s;
            border-width: 3px;
            border-style: solid;
            color: #57595b;
            font-weight: 500;
        }

        .boxContent #otherDate {
            width: 250px;
            height: 60px;
            font-size: 17px;
            /* padding: 0 25px; */
            margin-top: 7px;
            margin-bottom: 7px;
            border-radius: 30px;
            box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
            transition: .3s;
            border-width: 3px;
            border-style: solid;
            color: #57595b;
            font-weight: 500;
        }

        .boxContent #selectCountry {
            font-size: 17px;
            color: #57595b;
        }

        .boxContent #selectDate {
            font-size: 17px;
            color: #57595b;
        }

        .displayHolidays {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* border-style: solid;
            border-width: 4px;
            border-color: darkgreen; */
            flex-wrap: wrap;
        }

        a {
            text-decoration: none;
        }

        button {
            width: 100%;
            height: 50px;
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 8px;
            margin-right: 8px;
            background-color: #4c4d4e;
            border-style: solid;
            border-radius: 30px;
            border-color: #4c4d4e;
            justify-content: center;
            color: white;
            font-size: 18px;
        }

        button:hover {
            background-color: #787c81;
            border-color: #787c81;
            cursor: pointer;
        }

        .displayHolidays #otherDayLink {
            margin-left: auto;
        }
    </style>
</head>

<body>
    <div class="homeBox">
        <div class="homeHeader">
            <h3>View Daily Holidays from Other Days</h3>
        </div>
        <!-- <a href="/home-page">View the holidays for today</a> -->
        <br>
        <!--
        <a href="/favorite-holidays">My Favorite Holidays</a>
        <br>
        -->
        <div class="boxContent">
            <div id="otherDaysHolidays">
                <label id="selectCountry"><strong>Select a country: </strong></label>
                <select id="country">
                    <option value="AF">Afghanistan (AF)</option>
                    <option value="AL">Albania (AL)</option>
                    <option value="DZ">Algeria (DZ)</option>
                    <option value="AS">American Samoa (AS)</option>
                    <option value="AD">Andorra (AD)</option>
                    <option value="AO">Angola (AO)</option>
                    <option value="AI">Anguilla (AI)</option>
                    <option value="AG">Antigua and Barbuda (AG)</option>
                    <option value="AR">Argentina (AR)</option>
                    <option value="AM">Armenia (AM)</option>
                    <option value="AW">Aruba (AW)</option>
                    <option value="AU">Australia (AU)</option>
                    <option value="AT">Austria (AT)</option>
                    <option value="AZ">Azerbaijan (AZ)</option>
                    <option value="BH">Bahrain (BH)</option>
                    <option value="BD">Bangladesh (BD)</option>
                    <option value="BB">Barbados (BB)</option>
                    <option value="BY">Belarus (BY)</option>
                    <option value="BE">Belgium (BE)</option>
                    <option value="BZ">Belize (BZ)</option>
                    <option value="BJ">Benin (BJ)</option>
                    <option value="BM">Bermuda (BM)</option>
                    <option value="BT">Bhutan (BT)</option>
                    <option value="BO">Bolivia (BO)</option>
                    <option value="BA">Bosnia and Herzegovina (BA)</option>
                    <option value="BW">Botswana (BW)</option>
                    <option value="BR">Brazil (BR)</option>
                    <option value="VG">British Virgin Islands (VG)</option>
                    <option value="BN">Brunei (BN)</option>
                    <option value="BG">Bulgaria (BG)</option>
                    <option value="BF">Burkina Faso (BF)</option>
                    <option value="BI">Burundi (BI)</option>
                    <option value="CV">Cabo Verde (CV)</option>
                    <option value="KH">Cambodia (KH)</option>
                    <option value="CM">Cameroon (CM)</option>
                    <option value="CA">Canada (CA)</option>
                    <option value="KY">Cayman Islands (KY)</option>
                    <option value="CF">Central African Republic (CF)</option>
                    <option value="TD">Chad (TD)</option>
                    <option value="CL">Chile (CL)</option>
                    <option value="CN">China (CN)</option>
                    <option value="CO">Colombia (CO)</option>
                    <option value="KM">Comoros (KM)</option>
                    <option value="CG">Congo (CG)</option>
                    <option value="CD">Congo Democratic Republic (CD)</option>
                    <option value="CK">Cook Islands (CK)</option>
                    <option value="CR">Costa Rica (CR)</option>
                    <option value="CI">Cote d’Ivoire (CI)</option>
                    <option value="HR">Croatia (HR)</option>
                    <option value="CU">Cuba (CU)</option>
                    <option value="CW">Curaçao (CW)</option>
                    <option value="CY">Cyprus (CY)</option>
                    <option value="CZ">Czechia (CZ)</option>
                    <option value="DK">Denmark (DK)</option>
                    <option value="DJ">Djibouti (DJ)</option>
                    <option value="DM">Dominica (DM)</option>
                    <option value="DO">Dominican Republic (DO)</option>
                    <option value="TL">East Timor (TL)</option>
                    <option value="EC">Ecuador (EC)</option>
                    <option value="EG">Egypt (EG)</option>
                    <option value="SV">El Salvador (SV)</option>
                    <option value="GQ">Equatorial Guinea (GQ)</option>
                    <option value="ER">Eritrea (ER)</option>
                    <option value="EE">Estonia (EE)</option>
                    <option value="SZ">eSwatini (SZ)</option>
                    <option value="ET">Ethiopia (ET)</option>
                    <option value="FK">Falkland Islands (FK)</option>
                    <option value="FO">Faroe Islands (FO)</option>
                    <option value="FJ">Fiji (FJ)</option>
                    <option value="FI">Finland (FI)</option>
                    <option value="FR">France (FR)</option>
                    <option value="GF">French Guiana (GF)</option>
                    <option value="PF">French Polynesia (PF)</option>
                    <option value="GA">Gabon (GA)</option>
                    <option value="GM">Gambia (GM)</option>
                    <option value="GE">Georgia (GE)</option>
                    <option value="DE">Germany (DE)</option>
                    <option value="GH">Ghana (GH)</option>
                    <option value="GI">Gibraltar (GI)</option>
                    <option value="GR">Greece (GR)</option>
                    <option value="GL">Greenland (GL)</option>
                    <option value="GD">Grenada (GD)</option>
                    <option value="GP">Guadeloupe (GP)</option>
                    <option value="GU">Guam (GU)</option>
                    <option value="GT">Guatemala (GT)</option>
                    <option value="GG">Guernsey (GG)</option>
                    <option value="GN">Guinea (GN)</option>
                    <option value="GW">Guinea Bissau (GW)</option>
                    <option value="GY">Guyana (GY)</option>
                    <option value="HT">Haiti (HT)</option>
                    <option value="HN">Honduras (HN)</option>
                    <option value="HK">Hong Kong (HK)</option>
                    <option value="HU">Hungary (HU)</option>
                    <option value="IS">Iceland (IS)</option>
                    <option value="IN">India (IN)</option>
                    <option value="ID">Indonesia (ID)</option>
                    <option value="IR">Iran (IR)</option>
                    <option value="IQ">Iraq (IQ)</option>
                    <option value="IE">Ireland (IE)</option>
                    <option value="IM">Isle of Man (IM)</option>
                    <option value="IT">Italy (IT)</option>
                    <option value="JM">Jamaica (JM)</option>
                    <option value="JP">Japan (JP)</option>
                    <option value="JE">Jersey (JE)</option>
                    <option value="JO">Jordan (JO)</option>
                    <option value="KZ">Kazakhstan (KZ)</option>
                    <option value="KE">Kenya (KE)</option>
                    <option value="KI">Kiribati (KI)</option>
                    <option value="XK">Kosovo (XK)</option>
                    <option value="KW">Kuwait (KW)</option>
                    <option value="KG">Kyrgyzstan (KG)</option>
                    <option value="LA">Laos (LA)</option>
                    <option value="LV">Latvia (LV)</option>
                    <option value="LB">Lebanon (LB)</option>
                    <option value="LS">Lesotho (LS)</option>
                    <option value="LR">Liberia (LR)</option>
                    <option value="LY">Libya (LY)</option>
                    <option value="LI">Liechtenstein (LI)</option>
                    <option value="LT">Lithuania (LT)</option>
                    <option value="LU">Luxembourg (LU)</option>
                    <option value="MO">Macau (MO)</option>
                    <option value="MG">Madagascar (MG)</option>
                    <option value="MW">Malawi (MW)</option>
                    <option value="MY">Malaysia (MY)</option>
                    <option value="MV">Maldives (MV)</option>
                    <option value="ML">Mali (ML)</option>
                    <option value="MT">Malta (MT)</option>
                    <option value="MH">Marshall Islands (MH)</option>
                    <option value="MQ">Martinique (MQ)</option>
                    <option value="MR">Mauritania (MR)</option>
                    <option value="MU">Mauritius (MU)</option>
                    <option value="YT">Mayotte (YT)</option>
                    <option value="MX">Mexico (MX)</option>
                    <option value="FM">Micronesia (FM)</option>
                    <option value="MD">Moldova (MD)</option>
                    <option value="MC">Monaco (MC)</option>
                    <option value="MN">Mongolia (MN)</option>
                    <option value="ME">Montenegro (ME)</option>
                    <option value="MS">Montserrat (MS)</option>
                    <option value="MA">Morocco (MA)</option>
                    <option value="MZ">Mozambique (MZ)</option>
                    <option value="MM">Myanmar (MM)</option>
                    <option value="NA">Namibia (NA)</option>
                    <option value="NR">Nauru (NR)</option>
                    <option value="NP">Nepal (NP)</option>
                    <option value="NL">Netherlands (NL)</option>
                    <option value="NC">New Caledonia (NC)</option>
                    <option value="NZ">New Zealand (NZ)</option>
                    <option value="NI">Nicaragua (NI)</option>
                    <option value="NE">Niger (NE)</option>
                    <option value="NG">Nigeria (NG)</option>
                    <option value="KP">North Korea (KP)</option>
                    <option value="MK">North Macedonia (MK)</option>
                    <option value="MP">Northern Mariana Islands (MP)</option>
                    <option value="NO">Norway (NO)</option>
                    <option value="OM">Oman (OM)</option>
                    <option value="PK">Pakistan (PK)</option>
                    <option value="PW">Palau (PW)</option>
                    <option value="PA">Panama (PA)</option>
                    <option value="PG">Papua New Guinea (PG)</option>
                    <option value="PY">Paraguay (PY)</option>
                    <option value="PE">Peru (PE)</option>
                    <option value="PH">Philippines (PH)</option>
                    <option value="PL">Poland (PL)</option>
                    <option value="PT">Portugal (PT)</option>
                    <option value="PR">Puerto Rico (PR)</option>
                    <option value="QA">Qatar (QA)</option>
                    <option value="RE">Reunion (RE)</option>
                    <option value="RO">Romania (RO)</option>
                    <option value="RU">Russia (RU)</option>
                    <option value="RW">Rwanda (RW)</option>
                    <option value="SH">Saint Helena (SH)</option>
                    <option value="KN">Saint Kitts and Nevis (KN)</option>
                    <option value="LC">Saint Lucia (LC)</option>
                    <option value="MF">Saint Martin (MF)</option>
                    <option value="PM">Saint Pierre and Miquelon (PM)</option>
                    <option value="VC">Saint Vincent and the Grenadines (VC)</option>
                    <option value="WS">Samoa (WS)</option>
                    <option value="SM">San Marino (SM)</option>
                    <option value="ST">Sao Tome and Principe (ST)</option>
                    <option value="SA">Saudi Arabia (SA)</option>
                    <option value="SN">Senegal (SN)</option>
                    <option value="RS">Serbia (RS)</option>
                    <option value="SC">Seychelles (SC)</option>
                    <option value="SL">Sierra Leone (SL)</option>
                    <option value="SG">Singapore (SG)</option>
                    <option value="SX">Sint Maarten (SX)</option>
                    <option value="SK">Slovakia (SK)</option>
                    <option value="SI">Slovenia (SI)</option>
                    <option value="SB">Solomon Islands (SB)</option>
                    <option value="SO">Somalia (SO)</option>
                    <option value="ZA">South Africa (ZA)</option>
                    <option value="KR">South Korea (KR)</option>
                    <option value="SS">South Sudan (SS)</option>
                    <option value="ES">Spain (ES)</option>
                    <option value="LK">Sri Lanka (LK)</option>
                    <option value="BL">St. Barts (BL)</option>
                    <option value="SD">Sudan (SD)</option>
                    <option value="SR">Suriname (SR)</option>
                    <option value="SE">Sweden (SE)</option>
                    <option value="CH">Switzerland (CH)</option>
                    <option value="SY">Syria (SY)</option>
                    <option value="TW">Taiwan (TW)</option>
                    <option value="TJ">Tajikistan (TJ)</option>
                    <option value="TZ">Tanzania (TZ)</option>
                    <option value="TH">Thailand (TH)</option>
                    <option value="BS">The Bahamas (BS)</option>
                    <option value="TG">Togo (TG)</option>
                    <option value="TO">Tonga (TO)</option>
                    <option value="TT">Trinidad and Tobago (TT)</option>
                    <option value="TN">Tunisia (TN)</option>
                    <option value="TR">Turkey (TR)</option>
                    <option value="TM">Turkmenistan (TM)</option>
                    <option value="TC">Turks and Caicos Islands (TC)</option>
                    <option value="TV">Tuvalu (TV)</option>
                    <option value="UG">Uganda (UG)</option>
                    <option value="UA">Ukraine (UA)</option>
                    <option value="AE">United Arab Emirates (AE)</option>
                    <option value="GB">United Kingdom (GB)</option>
                    <option value="US">United States (US)</option>
                    <option value="UY">Uruguay (UY)</option>
                    <option value="VI">US Virgin Islands (VI)</option>
                    <option value="UZ">Uzbekistan (UZ)</option>
                    <option value="VU">Vanuatu (VU)</option>
                    <option value="VA">Vatican City (Holy See) (VA)</option>
                    <option value="VE">Venezuela (VE)</option>
                    <option value="VN">Vietnam (VN)</option>
                    <option value="WF">Wallis and Futuna (WF)</option>
                    <option value="YE">Yemen (YE)</option>
                    <option value="ZM">Zambia (ZM)</option>
                    <option value="ZW">Zimbabwe (ZW)</option>
                </select>
                <br>
                <label id="selectDate"><strong> Select a date:    </strong></label>
                <input type="date" id="otherDate" name="otherDate">

                </form>
            </div>
        </div>
            <div class="displayHolidays" id="displayHolidays">
                <div>
                    <button onclick="viewHolidays()">     View holiday(s)     </button>
                </div>
                <div id="otherDayLink">
                    <a href="/home-page">View the holidays for today</a>
                </div>
                <!-- <button onclick="viewHolidays()">View today's holiday(s)</button> -->
            </div>
    </div>
    <script>
        async function viewHolidays() {
            let today = document.getElementById("otherDate").value;
            console.log("retrieved today: " + today + " type: " + typeof today);
            const todayArr = today.split("-");
            const todayDate = todayArr[2];
            const todayMonth = todayArr[1];
            const todayYear = todayArr[0];
            let country = document.getElementById("country").value;
            const apiKey = "<%= holidayApiKey %>";
            const apiURL = `https://holidays.abstractapi.com/v1/?api_key=${apiKey}&country=${country}&year=${todayYear}&month=${todayMonth}&day=${todayDate}`;
            let holidayData = fetchHolidayInfo(apiURL, todayYear, todayMonth, todayDate);

            displayString = "";
            holidayData
                .then(result => {
                    //console.log("RESULT: " + JSON.stringify(result));
                    console.log("H");
                    if (Array.isArray(result)) {
                        if (JSON.parse(JSON.stringify(result)).length == 0) {
                            displayString += "The chosen country has no holidays today. Check out the stats for another country!";
                            displayString += `<br><button onclick="viewHolidays()">View holiday(s)</button>`;
                            displayString += `<div id="otherDayLink"><a href="/home-page">View the holidays for today</a></div>`;
                            document.getElementById("displayHolidays").innerHTML = displayString;
                        } else {
                            displayString = "<table border='1'><th>Holiday</th><th>Type</th>";
                            JSON.parse(JSON.stringify(result)).forEach(holiday =>
                                displayString += `<tr><td>${holiday.name}</td><td>${holiday.type}</td></tr>`);
                            displayString += `</table id="table"><br><button onclick="viewHolidays()">View holiday(s)</button>`;
                            displayString += `<div id="otherDayLink"><a href="/home-page">View the holidays for today</a></div>`;
                            document.getElementById("displayHolidays").innerHTML = displayString;
                        }
                        // JSON.parse(JSON.stringify(result)).forEach(holiday =>
                        //     displayString += `<tr><td><input type="checkbox" name="favorite"></td><td>${holiday.name}</td><td>${holiday.type}</td></tr>`);
                        // let checkedHolidays = [...document.querySelectorAll('input[name="favorite"]:checked')]
                        //     .map(checkbox => checkbox.value);
                        // let checkedHolidaysString = "";
                        // if (checkedHolidays.length == 0) {
                        //     displayString = `<p>The chosen country has no holidays today.</p>`;
                        // }
                        // checkedHolidays.forEach(h => checkedHolidaysString += h.name + " ");
                        // //displayString += `<p name="checkedHolidayString">${checkedHolidaysString}</p>`;
                        // console.log("checked string: " + checkedHolidaysString);
                        // displayString += `</table><br><input type="button" onclick="location.href='/view-favorite-holidays'" value="Store favorites"><button onclick="viewHolidays()">View today's holiday(s)</button>`;
                        // document.getElementById("displayHolidays").innerHTML = displayString;

                        // //let checkedHolidays = document.querySelectorAll('input[type="favorite"]:checked');




                        // checkedHolidays.forEach(holiday => {
                        //     console.log("-------------")
                        //     console.log(holiday); // Logs the checked status of each checkbox
                        //     console.log("holiday is: " + typeof holiday);
                        // });

                    } else {
                        console.log("E");
                        console.log("Resolved value is not iterable:", result);
                    }
                })
                .catch(error => {
                    console.error("Error :", error);
                });

            //holidayDataArray = [...Object.values(holidayData)];
            //displayString = "<table border='1'><th>Holiday</th><th>Type</th>";
            //holidayData.forEach(holiday => displayString += `<tr><td>${holiday.name}</td><td>${holiday.type}</td></tr>`);
            //holidayData.forEach(holiday => console.log(`${holiday.name}`));
            //displayString += "</table>";
            //document.getElementById("displayHolidays").innerHTML = displayString;

        }

        async function fetchHolidayInfo(apiURL, year, month, day) {
            try {
                const options = { method: 'GET' };
                const response = await fetch(apiURL, options);

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const data = await response.json();
                console.log("in here");
                console.log(data);
                return data; // Return the data for further use
            } catch (err) {
                console.error('Error fetching holiday info:', err);
                return null; // Return null in case of an error
            }
        }

        //     fetch(`https://holidays.abstractapi.com/v1/?api_key=9ef7882199014c7eb5cdadc2b91c52f2&country=US&year=${todayYear}&month=${todayMonth}&day=${todayDate}`, options)
        //         .then(response => response.json())
        //         .then(response => console.log(response))
        //         .catch(err => console.error(err));
    </script>

</body>

</html>